@font-face {
  font-family: 'Maghribi-Assile';
  src: url("../font/Maghribi-Assile.ttf"); }

@font-face {
  font-family: "arabswell_1";
  src: url("../font/arabswell_1.ttf"); }

@font-face {
  font-family: "Samir_Khouaja_Maghribi";
  src: url("../font/Samir_Khouaja_Maghribi.ttf"); }

@font-face {
  font-family: "Hacen-Maghreb-Lt";
  src: url("../font/Hacen-Maghreb-Lt.ttf"); }
