@font-face {
  font-family: 'font-maghreb-one';
  src: url("../fonts/font-maghreb-one.ttf"); }

@font-face {
  font-family: 'font-maghreb-tow';
  src: url("../fonts/font-maghreb-tow.ttf"); }

@font-face {
  font-family: 'font-maghreb-three';
  src: url("../fonts/font-maghreb-three.ttf"); }

@font-face {
  font-family: 'font-maghreb-four';
  src: url("../fonts/font-maghreb-four.ttf"); }
