@font-face {
  font-family: 'Maghribi-Assile';
  src: url("../font/Maghribi-Assile.ttf"); }

@font-face {
  font-family: "arabswell_1";
  src: url("../font/arabswell_1.ttf"); }

@font-face {
  font-family: "Samir_Khouaja_Maghribi";
  src: url("../font/Samir_Khouaja_Maghribi.ttf"); }

@font-face {
  font-family: "Hacen-Maghreb-Lt";
  src: url("../font/Hacen-Maghreb-Lt.ttf"); }

a {
  color: #02374D; }

a:hover {
  color: #02374D;
  text-decoration: none; }

body {
  background: #ffffff;
  font-family: "Maghribi-Assile"; }

.bg-services {
  background: #5433FF; }

.border-send-me {
  border-width: 2.083px;
  border-color: #02374D;
  border-style: solid;
  border-radius: 15px;
  /*  width: 98.834px;*/
  height: 32.834px;
  background-color: white; }

.text-send-me {
  font-size: 20px;
  font-family: "Maghribi-Assile";
  color: #02374D;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  background-color: #fff; }

.all-languages {
  color: #02374D; }

.all-languages a {
  font-size: 20px;
  font-family: "Maghribi-Assile";
  line-height: 1.2;
  text-align: center;
  font-weight: 600; }

.all-languages span {
  font-size: 18px;
  font-family: "Maghribi-Assile";
  line-height: 1.2;
  text-align: center;
  font-weight: 100; }

.logo {
  font-size: 25px;
  font-family: "arabswell_1";
  color: #02374d;
  line-height: 0.84;
  text-align: right; }

.logo br {
  line-height: 0; }

.title h1 {
  font-size: 37px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #5433FF;
  font-weight: bold;
  line-height: 0.568;
  text-align: center; }

.title p {
  font-size: 20px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #293347;
  font-weight: bold;
  line-height: 1.05;
  text-align: center;
  margin-top: 22px; }

.img-dev {
  border-width: 8.333px;
  border-color: #5433ff;
  border-style: solid;
  border-radius: 5px;
  width: 163.334px;
  height: 125.334px; }

.me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 13px 3px #5433ff;
  -moz-box-shadow: 0px 0px 13px 3px #5433ff;
  box-shadow: 0px 0px 13px 3px #5433ff33; }

.social {
  text-align: center;
  font-size: 1.8em;
  color: #555;
  overflow: hidden; }
  .social a {
    color: inherit;
    text-decoration: none; }
  .social i {
    margin: .3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0); }
    .social i:hover {
      margin-top: -1px; }
    .social i#twitter:hover {
      color: #77DDF6; }
    .social i#github:hover {
      color: black; }
    .social i#linkedin:hover {
      color: #0177B5; }
    .social i#code:hover {
      color: #29A329; }
    .social i#stack:hover {
      color: #ED780E; }
    .social i#plus:hover {
      color: #D43402; }
    .social i#mail:hover {
      color: #F7B401; }

.content-services h2 {
  font-size: 25px;
  font-family: "Samir_Khouaja_Maghribi";
  color: white;
  font-weight: bold;
  line-height: 0.84;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem; }

.content-services p {
  font-size: 18px;
  font-family: "Maghribi-Assile";
  color: #ffffff;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 12rem; }

.service-heros {
  margin-top: -7rem;
  padding-bottom: 1rem;
  margin-bottom: 7rem; }

.border-hero-left {
  border-width: 0.833px;
  border-color: #dbdbdb;
  border-style: solid;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 15px; }

.border-hero-center {
  border-width: 0.833px;
  border-color: #dbdbdb;
  border-style: solid;
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

.border-hero-right {
  border-width: 0.833px;
  border-color: #dbdbdb;
  border-style: solid;
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0px; }

.service-heros .card-title {
  font-size: 24px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #010C10;
  font-weight: bold;
  line-height: 0.875;
  text-align: center; }

.service-heros .card-text {
  font-size: 15px;
  font-family: "Hacen-Maghreb-Lt";
  color: #4e4e4e;
  line-height: 1.5;
  text-align: justify;
  text-align-last: center; }

.service-heros .card-subtitle {
  font-size: 16px;
  font-family: "Hacen-Maghreb-Lt";
  color: #5433ff;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center; }

.service-heros .paragraph-subtitle, .list-tools {
  font-size: 14px;
  font-family: "Hacen-Maghreb-Lt";
  color: #696969;
  line-height: 1.2;
  list-style: none;
  padding-right: 0; }

.projects {
  margin-bottom: 7rem; }

.projects h2 {
  font-size: 25px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #293347;
  font-weight: bold;
  line-height: 0.84;
  text-align: center;
  margin-bottom: 2rem; }

.projects p {
  font-size: 18px;
  font-family: "Maghribi-Assile";
  color: #696969;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 5rem; }

.projects a {
  color: #007cdc; }

.our-project img {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 13px 3px #5433ff;
  -moz-box-shadow: 0px 0px 13px 3px #5433ff;
  box-shadow: 0px 0px 13px 3px #5433ff33; }

.our-project {
  margin-bottom: 5rem; }

.our-project button span {
  font-size: 18px;
  font-family: "Maghribi-Assile";
  color: #02374D; }

.reference {
  margin-bottom: 7rem; }

.reference h2 {
  font-size: 25px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #293347;
  font-weight: bold;
  line-height: 0.84;
  text-align: center;
  margin-bottom: 2rem;
  margin-bottom: 5rem; }

.open-git h2 {
  font-size: 25px;
  font-family: "Samir_Khouaja_Maghribi";
  color: white;
  font-weight: bold;
  line-height: 0.84;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem; }

.open-git p {
  font-size: 18px;
  font-family: "Maghribi-Assile";
  color: #ffffff;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 12rem; }

.my-services .card {
  border-width: 0.833px;
  border-color: #dbdbdb;
  border-style: solid;
  border-radius: 15px;
  background-color: white; }

.my-services .card-subtitle a {
  font-size: 16px;
  font-family: "Hacen-Maghreb-Lt";
  color: #5433ff;
  line-height: 1.5;
  text-align: justify;
  text-align-last: center; }

.my-services p {
  font-size: 15px;
  font-family: "Hacen-Maghreb-Lt";
  color: #4e4e4e;
  line-height: 1.5;
  text-align: justify;
  text-align-last: center; }

.my-services .dowpsd {
  font-family: "Hacen-Maghreb-Lt";
  color: #007cdc;
  font-weight: bold; }

.my-services .card-text {
  font-size: 15px;
  font-family: "Hacen-Maghreb-Lt";
  color: #4e4e4e;
  line-height: 1.5;
  text-align: justify;
  text-align-last: center; }

.contact-main {
  margin-bottom: 5rem;
  margin-bottom: 7rem; }

.contact-main .button-contact {
  padding-right: 4rem;
  padding-left: 4rem; }

.contact-main h2 {
  font-size: 25px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #293347;
  font-weight: bold;
  line-height: 0.84;
  text-align: center;
  margin-bottom: 2rem; }

.contact-main p {
  font-size: 18px;
  font-family: "Hacen-Maghreb-Lt";
  color: #696969;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 3rem; }

.testimonials {
  margin-bottom: 12rem; }

.testimonials h2 {
  font-size: 25px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #293347;
  font-weight: bold;
  line-height: 0.84;
  text-align: center;
  margin-bottom: 2rem; }

.testimonials p {
  font-size: 18px;
  font-family: "Hacen-Maghreb-Lt";
  color: #696969;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 1rem; }

.testimonials .what-is-say {
  font-size: 16px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #293347;
  line-height: 1.933;
  text-align: justify;
  text-align-last: center; }

.testimonials .name-ceo {
  font-size: 16px;
  font-family: "Samir_Khouaja_Maghribi";
  color: #293347;
  font-weight: bold;
  text-align: center; }

.testimonials .name-company {
  font-size: 14px;
  font-family: "Samir_Khouaja_Maghribi";
  color: dimgray;
  text-align: center; }

.contact-main h2 {
  line-height: 1.933; }

.hero .title h1 {
  line-height: 1.233; }

.hero .title p {
  line-height: 1.433; }

.reference h2 {
  line-height: 1.433; }

@media only screen and (max-width: 600px) {
  .hero .title h1 {
    font-size: 2rem; } }

@media only screen and (max-width: 768px) {
  .logo br {
    display: none; } }

.border-send-me-footer {
  border-width: 2.083px;
  border-color: #5433FF;
  border-style: solid;
  border-radius: 15px;
  height: 32.834px;
  background-color: #02374D; }

.text-send-me-footer {
  font-size: 18px;
  font-family: "Maghribi-Assile";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }

.bg-cta {
  background-color: #02374d; }

.call-to-action .container {
  border-radius: 12px;
  margin-top: -120px;
  color: #ffffff; }

.cader-box {
  border-radius: 12px;
  padding: 3.5rem 2rem;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.13), 1px 1px 1px 1px #02374d66; }

.call-to-action .parag-box {
  font-size: 18px;
  font-family: "Maghribi-Assile";
  color: white;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center; }

.call-to-action .title-box {
  font-size: 22px;
  font-family: "arabswell_1";
  color: white;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center; }

.bio {
  font-size: 19px;
  font-family: "arabswell_1";
  color: white;
  line-height: 1.632;
  text-align: justify;
  text-align-last: center; }

.social-icons .icon {
  color: white;
  font-size: 22px; }

.copyright {
  font-size: 19px;
  font-family: "arabswell_1";
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.632;
  text-align: center; }
