// Custom settings

$color-prussian: #02374D;
$color-primary: #5433FF;
$color-secondary: #293347;
$color-light: #010C10;
$color-text: #293347;
$color-base: #4E4E4E;
$color-body: #696969;
$color-tag-h1: #5433FF;
$color-paragraph: #696969;

$font-family-one: 'Maghribi-Assile';
@font-face {
  font-family: 'Maghribi-Assile';
  src: url('../font/Maghribi-Assile.ttf');
}

$font-family-tow: 'arabswell_1';
@font-face {
  font-family: "arabswell_1";
  src: url('../font/arabswell_1.ttf');
}

$font-family-three: 'Samir_Khouaja_Maghribi';
@font-face {
  font-family: "Samir_Khouaja_Maghribi";
  src: url('../font/Samir_Khouaja_Maghribi.ttf');
}

$font-family-four: 'Hacen-Maghreb-Lt';
@font-face {
  font-family: "Hacen-Maghreb-Lt";
  src: url('../font/Hacen-Maghreb-Lt.ttf');
}

