// Custom settings

$oubihis-prussian: #02374D;
$oubihis-primary: #5433FF;
$oubihis-secondary: #293347;
$oubihis-light: #010C10;
$oubihis-text: #293347;
$oubihis-base: #4E4E4E;
$oubihis-body: #696969;
$oubihis-tag-h1: #5433FF;
$oubihis-paragraph: #696969